
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d3a588;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #42281c;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content h1 {
    font-size: 50px;
    color: #42281c;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    background-color: #6a4634;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.hero-image img {
    width: 400px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
    }
}
